<%= form_for(@recruit) do |f| %>
  <% if @recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recruit.errors.count, "error") %> prohibited this recruit from being saved:</h2>

      <ul>
      <% @recruit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :residence %><br />
    <%= f.text_field :residence %>
  </div>
  <div class="field">
    <%= f.check_box :rails %> <%= f.label :rails %>
  </div>
  <div class="field">
    <%= hidden_field_tag "recruit[language_ids[]", nil %>
    <% Language.all.each do |lang| -%>
      <%= check_box_tag "recruit[language_ids[]", lang.id, 
        @recruit.language_ids.include?(lang.id), id: dom_id(lang) %>
      <%= label_tag dom_id(lang), lang.name %>
    <% end -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
