<%= form_for(@recruit) do |f| %>
  <% if @recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recruit.errors.count, "error") %> prohibited this recruit from being saved:</h2>

      <ul>
      <% @recruit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :residence %><br />
    <%= f.text_field :residence %>
  </div>
  <div class="field">
    <%= f.label :rails %><br />
    <%= f.check_box :rails %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
