<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recruit.name %>
</p>

<p>
  <b>Email:</b>
  <%= @recruit.email %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @recruit.cellphone %>
</p>

<p>
  <b>Residence:</b>
  <%= @recruit.residence %>
</p>

<p>
  <b>Rails:</b>
  <%= @recruit.rails %>
</p>


<%= link_to 'Edit', edit_recruit_path(@recruit) %> |
<%= link_to 'Back', recruits_path %>
