<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recruit.name %>
</p>

<p>
  <b>Email:</b>
  <%= @recruit.email %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @recruit.cellphone %>
</p>

<p>
  <b>Residence:</b>
  <%= @recruit.residence %>
</p>

<p>
  <b>Rails:</b>
  <%= @recruit.rails %>
</p>

<p>
  <b>Technologies</b>
  <ul>
    <% @recruit.languages.each do |language| %>
      <li><%= language.name %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_recruit_path(@recruit) %> |
<%= link_to 'Finish', new_recruit_path %>
